* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Helvetica, sans-serif;
}
body {
  width: 1080px;
  margin: 0 auto;
}
h1, h2, h3, footer span {
  font-family: 'Alata', sans-serif;
  src: url("../fonts/Alata-Regular.ttf")format(ttf);
  color: #232323;
}
p, span {
  color: #414141;
}
h2, h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
nav {
  width: 100%;
  height: 100px;
  display: flex;
  /* background-color: yellow; */
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img{
  width: 76px;
  height: auto;
}
.logo h1{
  font-size: 28px;
}
.menu-bar {
  display: flex;
  align-items: center;
}
.menu-bar li{
  list-style: none;
}
.menu-bar li a{
  text-decoration: none;
  margin-left: 16px;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #232323;
}
.menu-bar li a:hover{
  text-decoration: underline;
}
section.about-me {
  margin-top: 100px;
}
section.about-me article {
  display: flex;
}
article figure figcaption#name {
  font-size: 20px;
  text-align: center;
}
article figure figcaption#profession {
  font-size: 18;
  text-align: center;
}
article figure img {
  width: 284px;
  height: auto;
}
article p {
  font-size: 20px;
  line-height: 2;
}
section.projects-gallery {
  margin-top: 100px;
}
.grid-area {
  display: grid;
  grid-template: repeat(2, 468px) / repeat(4, 255px);
  gap: 20px;
}
.white-text {
  color: #fff;
}
.project-info h4 {
  padding-bottom: 10px;
}
/*Project 1 area-------------------------------*/
#project-1 {
  background-color: #076F8A;
  grid-area: 1 / 1 / 2 / 3;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-left: 15px;
}
#project-1 h2{
  writing-mode: vertical-lr;
  letter-spacing: 6px;
  color: white;
}
#image-project-1 {
  grid-area: 1 / 1 / 2 / 3;
  height: 100%;
  justify-self: end;
  z-index: 1;
}
#info-project-1 {
  grid-area: 1 / 1 / 2 / 3;
  width: 88%;
  padding: 15px;
  justify-self: end;
  align-self: end;
  z-index: 2;
}
/*Project 2 area----------------------------*/
#project-2 {
  background-color: rgb(255, 255, 255);
  grid-area: 1 / 3 / 2 / 4;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
}
#image-project-2 {
  grid-area: 1 / 3 / 2 / 4;
  width: 100%;
  align-self: start;
  z-index: 1;
}
#info-project-2 {
  grid-area: 1 / 3 / 2 / 4;
  width: 100%;
  align-self: end;
  padding: 15px;
  z-index: 1;
}
/*Project 3 area----------------------------*/
#project-3 {
  background-color: rgb(255, 255, 255);
  grid-area: 1 / 4 / 2 / 5;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
}
#image-project-3 {
  grid-area: 1 / 4 / 2 / 5;
  width: 100%;
  align-self: start;
  z-index: 1;
}
#info-project-3 {
  grid-area: 1 / 4 / 2 / 5;
  width: 100%;
  align-self: end;
  padding: 15px;
  z-index: 1;
}
/*Project 4 area----------------------------*/
#project-4 {
  background-color: rgb(255, 255, 255);
  grid-area: 2 / 1 / 3 / 2;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
}
#image-project-4 {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  align-self: start;
  z-index: 1;
}
#info-project-4 {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  align-self: end;
  padding: 15px;
  z-index: 1;
}
/*Project 5 area----------------------------*/
#project-5 {
  background-color: rgb(255, 255, 255);
  grid-area: 2 / 2 / 3 / 3;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
}
#image-project-5 {
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  align-self: start;
  z-index: 1;
}
#info-project-5 {
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  align-self: end;
  padding: 15px;
  z-index: 1;
}
/*Project 6 area----------------------------*/
#project-6 {
  background-color: #076F8A;
  grid-area: 2 / 3 / 3 / 5;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-left: 15px;
}
#project-6 h2{
  writing-mode: vertical-lr;
  letter-spacing: 6px;
  color: white;
}
#image-project-6 {
  grid-area: 2 / 3 / 3 / 5;
  height: 100%;
  justify-self: end;
  z-index: 1;
}
#info-project-6 {
  grid-area: 2 / 3 / 3 / 5;
  width: 88%;
  padding: 15px;
  justify-self: end;
  align-self: end;
  z-index: 2;
}
section.skills {
  margin-top: 100px;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
}
.skill-list figure {
  /* background-color: yellow; */
  margin-right: 18px;
  max-width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-list figure img {
  width: 50px;
  height: auto;
}
.skill-list  > figure figcaption {
  font-size: 14px;
  text-align: center;
}
.contact {
  padding-top: 100px;
}
.contact-info span{
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.contact-info span > img{
  width: 35px;
  height: auto;
  margin-right: 10px;
}
#message {
  margin-bottom: 20px;
}
.social-media {
  padding-top: 50px;
}
.media-icons a > img {
  width: auto;
  height: 52px;
  margin-right: 10px;
}
#youtube {
  width: 60px;
  height: auto;
}
#linkedin {
  width: auto;
  height: 45px;
}
footer {
  margin-top: 76px;
  margin-bottom: 30px;
}
footer span{
  display: block;
  padding-bottom: 10px;
}
